@font-face{
  src: url(../fonts/Noto-sans/NotoSans-Light.ttf);
  font-family: 'Noto-sans';
  font-weight: 300;
}

@font-face{
  src: url(../fonts/Noto-sans/NotoSans-Regular.ttf);
  font-family: 'Noto-sans';
  font-weight: 400;
}

@font-face{
  src: url(../fonts/Noto-sans/NotoSans-Medium.ttf);
  font-family: 'Noto-sans';
  font-weight: 500;
}

@font-face{
  src: url(../fonts/Noto-sans/NotoSans-SemiBold.ttf);
  font-family: 'Noto-sans';
  font-weight: 600;
}

@font-face{
  src: url(../fonts/font-awesome/fa-light-300.woff2);
  font-family: 'Font-awesome';
  font-weight: 300;
}

@font-face{
  src: url(../fonts/font-awesome/fa-regular-400.woff);
  font-family: 'Font-awesome';
  font-weight: 400;
}

@font-face{
  src: url(../fonts/font-awesome/fa-solid-900.woff2);
  font-family: 'Font-awesome';
  font-weight: 900;
}

.fa{
  font-family: 'font-awesome';
  display: inline-block;
  font-style: normal;
  line-height: 1;
}
